/*
div{
    padding: 10px;
    border: 1px solid black;

}

.mainContainer{
    display: flex;
    flex-direction: row;
}

.leftSection{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex: 1;
}

.rightSection {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    flex: 1;

}

.item{
    width: 33.33%;
}

.item1{
    flex: 1;
}

.item2{
    flex: 4;
}

.item3{
    flex: 2;
}
*/

/*
display
flex-direction
justify-content
flex
align-items
*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

body{
    margin: 0;
}

.logo>img{
    width: 55px;
    margin-right: 100px;
    vertical-align: center;
    margin-top: 15px;
}

.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: gray;
    color: white;
    font-weight: 700;
}

.menu>li{
    margin: 15px;
    margin-left: 25px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

.product{
    flex: 1;
    margin:0px 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social{
display: flex;
flex-direction: row;
list-style: none;
justify-content: space-around;

}






